body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

.box {
    background: #f2f2f2;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.box a {
    display: block;
}

.box a img {
    cursor: pointer;
    transition: 0.2s;
}

.box a img:hover {
    opacity: 0.8;
}


@media screen and (min-width: 600px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box {
        width: 48%;
    }
}

@media screen and (min-width: 900px) {
    .box {
        width: 30%;
    }
}
